## Build and Output
bin/
obj/
out/
publish/
artifacts/*.zip
artifacts/*.exe
*.log

## Visual Studio & IDEs
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
.idea/
.vscode/

## Local Databases and caches
*.db
*.db-shm
*.db-wal
RadialLauncher_old_*

## Windows OS files
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
